.t-message {
  padding: 10px 20px;
  overflow-y: scroll;
}

.t-message li {
  margin-bottom: 15px;
}

.t-message .time {
  margin: 7px 0;
  text-align: center;
}

.t-message .time > span {
  display: inline-block;
  padding: 0 18px;
  font-size: 12px;
  color: #fff;
  border-radius: 2px;
  background-color: #dcdcdc;
}

.t-message .avatar {
  float: left;
  margin: 0 10px 0 0;
  border-radius: 3px;
}

.t-message .text {
  display: inline-block;
  position: relative;
  padding: 0 10px;
  max-width: calc(100% - 40px);
  min-height: 30px;
  line-height: 2.5;
  font-size: 16px;
  text-align: left;
  word-break: break-all;
  background-color: rgba(59, 187, 224, 0.3);
  border-radius: 4px;
  border: 1px solid #3bbbe0;
  color: #fff;
}

.t-message .text:before {
  content: " ";
  position: absolute;
  top: 13px;
  right: 100%;
  border: 6px solid transparent;
  border-right-color: rgba(59, 187, 224, 0.3);
}

.t-message .self {
  text-align: right;
}

.t-message .self .avatar {
  float: right;
  margin: 0 0 0 10px;
}

.t-message .self .text {
  background-color: rgba(59, 187, 224, 0.3);
  color: #fff;
}

.t-message .self .text:before {
  right: inherit;
  left: 100%;
  border-right-color: transparent;
  border-left-color: rgba(59, 187, 224, 0.3);
}
